<header class="header">
    <nav class="navbar">
        <ul class="nav-links" id="navLinks">
            <div class="logo">
                <img src="./assets/img/logo.png" alt="logo" class="logo-image" />
                <a href="index.html" class="logo-title link">Bina Masjid</a>
            </div>
            <div class="nav-menu">
                <li><a href="index.html" class="menu link menu-active">Home</a></li>
                <li><a href="about.html" class="menu link menu-nonactive">About Us</a></li>
                <li><a href="contact.html" class="menu link menu-nonactive">Contact</a></li>
            </div>
            <li class="auth-menu">
                <ul class="menubar">
                    <li class="menu-item">
                        <a class="navigasi">Sign Up | Login</a>
                        <ol class="sub-menu">
                            <li class="menu-item">
                                <a href="login.html" class="dropdown-btn"> Login </a>
                            </li>
                            <li class="menu-item">
                                <a href="register.html" class="dropdown-btn"> Sign Up </a>
                            </li>
                        </ol>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
