<nav id="smartbar" class="top">
    <ul id="menubawah">
        <li class="nav-item">
            <a href="index.html" title="Home">
                <img class="icon-img" src="./assets/img/icon/home.png" alt="Home" />
                <span class="label">Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="about.html" title="About Us">
                <img class="icon-img" src="./assets/img/icon/about.png" alt="About Us" />
                <span class="label">About Us</span>
            </a>
        </li>
        <li class="nav-item center-button">
            <a href="contact.html" title="Play Now">
                <img class="icon-img play-now-icon" src="./assets/img/icon/contact.png" alt="Contact" />
            </a>
        </li>
        <li class="nav-item">
            <a href="register.html" title="Collection">
                <img class="icon-img" src="./assets/img/icon/register.png" alt="Register" />
                <span class="label">Register</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="login.html" title="Login">
                <img class="icon-img" src="./assets/img/icon/user.png" alt="Login" />
                <span class="label">Login</span>
            </a>
        </li>
    </ul>
</nav>