* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --primary-color: #e50914;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--primary-color);
}
